<app-header></app-header>

<div class="container m-9">
  <form class="row g-3" [formGroup]="this.Form">
    <h1 class="col-12 parent">Completa tu perfil</h1>
    <div class="col-12 parent">
      <div *ngIf="this.pictureFile" id="imageRes">
        <label class="form-label">Foto de perfil
          <input type="file" (change)="onSelectFile($event);" hidden>
          <img id="imageResult" [src]="this.pictureFile" height="200" width="200" class="img-thumbnail" alt="">
        </label>
      </div>
      <div *ngIf="!this.pictureFile" id="imageRes">
        <label class="form-label">Actualiza tu foto de perfil
          <input type="file" (change)="onSelectFile($event);" hidden>
          <img src="../assets/profileEmpty.png" class="img-thumbnail" alt="...">
        </label>
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label">Tipo de identificación</label>
      <select  class="form-select" formControlName="idType" aria-label="Default select example">
        <option selected>Selecciona</option>
        <option value="cedula">Cedula</option>
        <option value="nit">Nit</option>
        <option value="otro">Otro</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="idNumer" class="form-label">Numero de identificación</label>
      <input type="number" class="form-control" formControlName="idNumer" id="idNumer">
    </div>
    <div class="col-md-6">
      <label for="firstName" class="form-label">Nombres</label>
      <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="Ingresa tu nombre">
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label">Apellidos</label>
      <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Ingresa tus apellidos">
    </div>
    <div class="col-md-6">
      <label for="address" class="form-label">Direccion</label>
      <input type="text" class="form-control" formControlName="address" id="address">
    </div>
    <div class="col-md-6">
      <label for="phoneNumber" class="form-label">Telefono</label>
      <input type="number" class="form-control" formControlName="phoneNumber" id="phoneNumber">
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" formControlName="email" id="email">
    </div>
    <div class="col-md-6">
      <label for="originCity" class="form-label">Ciudad de origen</label>
      <input type="text" class="form-control" formControlName="originCity" id="originCity">
    </div>
    <div class="col-12">
      <button type="submit" (click)="onSubmit()" class="btn btn-primary">Agregar</button>
    </div>
  </form>
</div>
